*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: rgb(176, 233, 214);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 600px;
    width: 600px;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    gap: 30px;

    justify-content: center;
    align-items: center;
}


.txt {
    
    font-size: 20px;    
    display: flex;
    gap: 20px;

    justify-content: space-between;
    align-items: center;
}
.btn {
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

